@charset "UTF-8";
/* 全体 */
html {
/* font-size: 10px; */
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* メイン */
main {
  text-align: center;
}

h2 {
  margin:auto;
  border: 15px solid #f3f36a;
  border-radius: 30px;
  width:10em;
  padding: 15px;
}