@charset "UTF-8";
/* 全体 */
html {
/* font-size: 10px; */
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* メイン */
main {
  text-align: center;
}

h2 {
  border-bottom: solid;
}